<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Homework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Homework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <Homework.Properties.Settings>
            <setting name="Greeting" serializeAs="String">
                <value>Приветствую Вас!</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>Домашнее задание. Урок 8</value>
            </setting>
        </Homework.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Homework.Properties.Settings>
            <setting name="userName" serializeAs="String">
                <value>Алмас</value>
            </setting>
            <setting name="userAge" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="userCareer" serializeAs="String">
                <value>Инженер</value>
            </setting>
        </Homework.Properties.Settings>
    </userSettings>
</configuration>